[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pip = "==18.0"
sklearn = "*"
numpy = "*"
tqdm = "*"
joblib = "*"
python-igraph = "*"
leidenalg = "*"
graphkernels = "*"
scipy = "*"
pandas = "*"

[dev-packages]
matplotlib = "*"
seaborn = "*"
jupyter = "*"
graphkernels = "*"
networkx = "*"
tensorflow = "*"
keras = "*"

[requires]
python_version = "3.6"
