[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-igraph = "*"
pip = "==18.0"
sklearn = "*"
numpy = "*"
tqdm = "*"
joblib = "*"

[dev-packages]
matplotlib = "*"
seaborn = "*"
jupyter = "*"

[requires]
python_version = "3.7"
