[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pip = "==18.0"
sklearn = "*"
numpy = "*"
python-igraph = "*"
leidenalg = "*"
pandas = "*"

[requires]
python_version = "3.6"
